Repository AutoDrop-Platform/autodropplatform-q4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-owner, @lead-developer, @frontend-team, @ui-ux-team, @backend-team, @security-team, @payment-specialist, @integration-team, @devops-team, @documentation-team, @database-team, @qa-team, @architecture-team

fix: add missing UI and context files
  scripts/003-revert-to-original-orders-schema.sql
Owners: @repository-owner, @lead-developer

chore: ESLint auto-fix + OpenAI report
  openai-report.json
Owners: @repository-owner, @lead-developer

Update gpt-auto-fix.yml
  .github/workflows/gpt-auto-fix.yml
Owners: @devops-team, @repository-owner

Update gpt-auto-fix.yml
  .github/workflows/gpt-auto-fix.yml
Owners: @devops-team, @repository-owner

Update gpt-auto-fix.yml
  .github/workflows/gpt-auto-fix.yml
Owners: @devops-team, @repository-owner

Create code_maintenance.js
  scripts/code_maintenance.js
Owners: @repository-owner, @lead-developer

Rename scripts/code_maintenance.js to POST /v1/responses.node.js
  POST /v1/responses.node.js
Owners: @repository-owner, @lead-developer

Create page.js
  app/app/page.js
Owners: @frontend-team

Create page.js
  app/app/app/page.js
Owners: @frontend-team

Delete app/app/app/page.js
  app/app/app/page.js
Owners: @frontend-team

Create index.js
  app/app/pages/index.js
Owners: @frontend-team

Update page.tsx
  app/products/page.tsx
Owners: @frontend-team

Install ESLint
  package-lock.json
  package.json
Owners: @repository-owner, @lead-developer, @devops-team

Delete app/app/page.js
  app/app/page.js
Owners: @frontend-team

Update page.tsx
  app/products/page.tsx
Owners: @frontend-team

Update layout.tsx
  app/layout.tsx
Owners: @frontend-team

Delete app/products/[id]/page.tsx
  app/products/[id]/page.tsx
Owners: @frontend-team

Delete app/products/[id]/loading.tsx
  app/products/[id]/loading.tsx
Owners: @frontend-team

Update loading.tsx
  app/products/loading.tsx
Owners: @frontend-team

Update page.tsx
  app/products/page.tsx
Owners: @frontend-team

Create route.ts
  app/api/checkout/route.ts
Owners: @backend-team, @security-team

Create page.tsx
  app/api/checkout/success/page.tsx
Owners: @backend-team, @security-team

Create page.tsx
  app/api/checkout/cancel/page.tsx
Owners: @backend-team, @security-team

Create price.ts
  app/utils/price.ts
Owners: @frontend-team

Update page.tsx
  app/products/page.tsx
Owners: @frontend-team

Create page.tsx
  app/cart/page.tsx
Owners: @frontend-team

Create route.ts
  app/checkout/route.ts
Owners: @frontend-team

Create cart-context.tsx
  ‎context/cart-context.tsx
Owners: @repository-owner, @lead-developer

Update page.tsx
  app/cart/page.tsx
Owners: @frontend-team

Update route.ts
  app/api/checkout/route.ts
Owners: @backend-team, @security-team

Update route.ts
  app/api/checkout/route.ts
Owners: @backend-team, @security-team

Create create-orders-table.ts
  create-orders-table.ts
Owners: @repository-owner, @lead-developer

Create route.ts
  app/api/stripe-webhook/route.ts
Owners: @backend-team, @security-team

Update route.ts
  app/api/checkout/route.ts
Owners: @backend-team, @security-team

Update route.ts
  app/checkout/route.ts
Owners: @frontend-team

Update page.tsx
  app/products/page.tsx
Owners: @frontend-team

Update dependabot.yml
  github/dependabot.yml
Owners: @repository-owner, @lead-developer

Create Output
  app/api/Output
Owners: @backend-team, @security-team

Delete app/api/Output
  app/api/Output
Owners: @backend-team, @security-team

Update aliexpress-product-card.tsx
  components/aliexpress-product-card.tsx
Owners: @frontend-team, @ui-ux-team

.github/CODEOWNERS:

# Global code owners
* @repository-owner @lead-developer

# Frontend components
/components/ @frontend-team @ui-ux-team
/app/ @frontend-team
/styles/ @ui-ux-team

# Backend API routes
/app/api/ @backend-team @security-team

# Payment integration
/app/api/stripe/ @backend-team @security-team @payment-specialist
/components/stripe-* @backend-team @payment-specialist
/lib/stripe* @backend-team @payment-specialist

# AliExpress integration
/app/api/aliexpress/ @backend-team @integration-team
/lib/aliexpress* @backend-team @integration-team

# Security sensitive files
/.env* @security-team @repository-owner
/lib/auth* @security-team
/middleware* @security-team

# Configuration files
/next.config* @devops-team @repository-owner
/package.json @devops-team @repository-owner
/tsconfig.json @devops-team @frontend-team
/tailwind.config* @ui-ux-team @frontend-team

# CI/CD and deployment
/.github/ @devops-team @repository-owner
/vercel.json @devops-team
/.vercel/ @devops-team

# Documentation
/README.md @documentation-team @repository-owner
/docs/ @documentation-team
/MIGRATION_STRATEGY.md @devops-team @repository-owner

# Database and migrations
/lib/db* @backend-team @database-team
/prisma/ @backend-team @database-team
/migrations/ @backend-team @database-team

# Testing
/tests/ @qa-team @backend-team @frontend-team
/__tests__/ @qa-team @backend-team @frontend-team
*.test.* @qa-team
*.spec.* @qa-team

# Context and state management
/context/ @frontend-team @architecture-team
/hooks/ @frontend-team

# Utility functions
/lib/utils* @backend-team @frontend-team
/lib/types* @backend-team @frontend-team
