Repository AutoDrop-Platform/autodropplatform-q4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-owner, @lead-developer, @frontend-team, @ui-ux-team, @backend-team, @security-team, @payment-specialist, @integration-team, @devops-team, @documentation-team, @database-team, @qa-team, @architecture-team

.github/CODEOWNERS:

# Global code owners
* @repository-owner @lead-developer

# Frontend components
/components/ @frontend-team @ui-ux-team
/app/ @frontend-team
/styles/ @ui-ux-team

# Backend API routes
/app/api/ @backend-team @security-team

# Payment integration
/app/api/stripe/ @backend-team @security-team @payment-specialist
/components/stripe-* @backend-team @payment-specialist
/lib/stripe* @backend-team @payment-specialist

# AliExpress integration
/app/api/aliexpress/ @backend-team @integration-team
/lib/aliexpress* @backend-team @integration-team

# Security sensitive files
/.env* @security-team @repository-owner
/lib/auth* @security-team
/middleware* @security-team

# Configuration files
/next.config* @devops-team @repository-owner
/package.json @devops-team @repository-owner
/tsconfig.json @devops-team @frontend-team
/tailwind.config* @ui-ux-team @frontend-team

# CI/CD and deployment
/.github/ @devops-team @repository-owner
/vercel.json @devops-team
/.vercel/ @devops-team

# Documentation
/README.md @documentation-team @repository-owner
/docs/ @documentation-team
/MIGRATION_STRATEGY.md @devops-team @repository-owner

# Database and migrations
/lib/db* @backend-team @database-team
/prisma/ @backend-team @database-team
/migrations/ @backend-team @database-team

# Testing
/tests/ @qa-team @backend-team @frontend-team
/__tests__/ @qa-team @backend-team @frontend-team
*.test.* @qa-team
*.spec.* @qa-team

# Context and state management
/context/ @frontend-team @architecture-team
/hooks/ @frontend-team

# Utility functions
/lib/utils* @backend-team @frontend-team
/lib/types* @backend-team @frontend-team

Update aliexpress-product-card.tsx
  components/aliexpress-product-card.tsx
Owners: @frontend-team, @ui-ux-team

Update aliexpress-api.ts
  lib/aliexpress-api.ts
Owners: @backend-team, @integration-team

Update route.ts
  app/api/aliexpress/categories/route.ts
Owners: @backend-team, @integration-team

Update route.ts
  app/api/aliexpress/categories/route.ts
Owners: @backend-team, @integration-team

Update aliexpress-api.ts
  lib/aliexpress-api.ts
Owners: @backend-team, @integration-team

Update route.ts
  app/api/aliexpress/product/[id]/route.ts
Owners: @backend-team, @integration-team

Create ProductDetails.tsx
  components/ProductDetails.tsx
Owners: @frontend-team, @ui-ux-team

Create page.tsx
  app/products/[id]/page.tsx
Owners: @frontend-team

Update route.ts
  app/checkout/route.ts
Owners: @frontend-team

Update page.tsx
  app/checkout/page.tsx
Owners: @frontend-team

Update route.ts
  app/api/stripe/checkout/route.ts
Owners: @backend-team, @security-team, @payment-specialist

Final update for the platform
  app/api/checkout/route.ts
  app/api/guardian/fix/route.ts
  app/api/stripe/webhook/route.ts
  app/app/pages/index.js
  app/cart/page.tsx
  app/checkout/cancel/page.tsx
  app/checkout/page.tsx
  app/checkout/route.ts
  app/products/page.tsx
  components/ui/card.tsx
  lib/aliexpress-api.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
Owners: @backend-team, @security-team, @payment-specialist, @frontend-team, @ui-ux-team, @integration-team, @repository-owner, @lead-developer, @devops-team

حفظ التعديلات قبل الدمج
  app/checkout/page.tsx
Owners: @frontend-team

تحديث صفحة المنتجات وإصلاح مشاكل الجلب
  app/products/[id]/page.tsx
  app/products/page.tsx
Owners: @frontend-team

تحديثات: استخدام مفتاح RapidAPI من البيئة وإضافة دالة مراجعات Alibaba
  app/api/aliexpress/categories/route.ts
  app/products/page.tsx
  lib/aliexpress-api.ts
Owners: @backend-team, @integration-team, @frontend-team

fix: export aliexpressAPI and validateProductIds
  app/admin-dashboard.tsx
  app/admin-login.tsx
  app/api/aliexpress/search/route.ts
  app/products/page.tsx
  lib/aliexpress-api.ts
Owners: @frontend-team, @backend-team, @integration-team

تحسين أمان جلب المنتجات من AliExpress عبر RapidAPI
  app/api/aliexpress/product/[id]/route.ts
  package.json
  pnpm-lock.yaml
Owners: @backend-team, @integration-team, @devops-team, @repository-owner, @lead-developer
