Repository AutoDrop-Platform/autodropplatform-q4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-owner, @lead-developer, @frontend-team, @ui-ux-team, @backend-team, @security-team, @payment-specialist, @integration-team, @devops-team, @documentation-team, @database-team, @qa-team, @architecture-team

.github/CODEOWNERS:

# Global code owners
* @repository-owner @lead-developer

# Frontend components
/components/ @frontend-team @ui-ux-team
/app/ @frontend-team
/styles/ @ui-ux-team

# Backend API routes
/app/api/ @backend-team @security-team

# Payment integration
/app/api/stripe/ @backend-team @security-team @payment-specialist
/components/stripe-* @backend-team @payment-specialist
/lib/stripe* @backend-team @payment-specialist

# AliExpress integration
/app/api/aliexpress/ @backend-team @integration-team
/lib/aliexpress* @backend-team @integration-team

# Security sensitive files
/.env* @security-team @repository-owner
/lib/auth* @security-team
/middleware* @security-team

# Configuration files
/next.config* @devops-team @repository-owner
/package.json @devops-team @repository-owner
/tsconfig.json @devops-team @frontend-team
/tailwind.config* @ui-ux-team @frontend-team

# CI/CD and deployment
/.github/ @devops-team @repository-owner
/vercel.json @devops-team
/.vercel/ @devops-team

# Documentation
/README.md @documentation-team @repository-owner
/docs/ @documentation-team
/MIGRATION_STRATEGY.md @devops-team @repository-owner

# Database and migrations
/lib/db* @backend-team @database-team
/prisma/ @backend-team @database-team
/migrations/ @backend-team @database-team

# Testing
/tests/ @qa-team @backend-team @frontend-team
/__tests__/ @qa-team @backend-team @frontend-team
*.test.* @qa-team
*.spec.* @qa-team

# Context and state management
/context/ @frontend-team @architecture-team
/hooks/ @frontend-team

# Utility functions
/lib/utils* @backend-team @frontend-team
/lib/types* @backend-team @frontend-team

refactor: revert database schema and webhook logic to original
  app/api/stripe/webhook/route.ts
  lib/db.ts
  scripts/003-revert-to-original-orders-schema.sql
Owners: @backend-team, @security-team, @payment-specialist, @database-team, @repository-owner, @lead-developer

Delete .github/dependabot.yml
  .github/dependabot.yml
Owners: @devops-team, @repository-owner

Update vercel.json
  vercel.json
Owners: @devops-team

Update vercel.json
  vercel.json
Owners: @devops-team

Update aliexpress-api.ts
  lib/aliexpress-api.ts
Owners: @backend-team, @integration-team

Update aliexpress-api.ts
  lib/aliexpress-api.ts
Owners: @backend-team, @integration-team

Update aliexpress-api.ts
  lib/aliexpress-api.ts
Owners: @backend-team, @integration-team

Create aliexpress-api.ts
  app/api/aliexpress-api.ts
Owners: @backend-team, @security-team

Delete app/api/aliexpress-api.ts
  app/api/aliexpress-api.ts
Owners: @backend-team, @security-team

Update aliexpress-api.ts
  lib/aliexpress-api.ts
Owners: @backend-team, @integration-team

Update aliexpress-api.ts
  lib/aliexpress-api.ts
Owners: @backend-team, @integration-team

Update aliexpress-api.ts
  lib/aliexpress-api.ts
Owners: @backend-team, @integration-team

Update package.json
  package.json
Owners: @devops-team, @repository-owner

Create page.tsx
  app/inject/page.tsx
Owners: @frontend-team

Update package.json
  package.json
Owners: @devops-team, @repository-owner

Update package.json
  package.json
Owners: @devops-team, @repository-owner

Update package.json
  package.json
Owners: @devops-team, @repository-owner

Update aliexpress-api.ts
  lib/aliexpress-api.ts
Owners: @backend-team, @integration-team

Create manifest.json
  public/manifest.json
Owners: @repository-owner, @lead-developer

Create alibaba.js
  app/api/products/alibaba.js
Owners: @backend-team, @security-team

Update aliexpress-api.ts
  lib/aliexpress-api.ts
Owners: @backend-team, @integration-team

Update aliexpress-api.ts
  lib/aliexpress-api.ts
Owners: @backend-team, @integration-team

Create token-sky-ocean
  app/api/token-sky-ocean
Owners: @backend-team, @security-team

Rename app/api/token-sky-ocean to app/api-token-sky-ocean
  app/api-token-sky-ocean
Owners: @frontend-team

Delete app/api-token-sky-ocean
  app/api-token-sky-ocean
Owners: @frontend-team

Create api-token-sky-ocean
  app/api-token-sky-ocean
Owners: @frontend-team

Update api-token-sky-ocean
  app/api-token-sky-ocean
Owners: @frontend-team

Update api-token-sky-ocean
  app/api-token-sky-ocean
Owners: @frontend-team

Delete app/api-token-sky-ocean
  app/api-token-sky-ocean
Owners: @frontend-team

Create GuardianFixer.ts
  app/utils/GuardianFixer.ts
Owners: @frontend-team

Create route.ts
  app/api/utils/Guardian/Fix/route.ts
Owners: @backend-team, @security-team

Update and rename app/api/utils/Guardian/Fix/route.ts to app/founder/page.tsx
  app/api/utils/Guardian/Fix/route.ts
  app/founder/page.tsx
Owners: @backend-team, @security-team, @frontend-team

Create route.ts
  app/api/guardian/fix/route.ts
Owners: @backend-team, @security-team

Create guardian-fixer.yml
  .github/workflows/guardian-fixer.yml
Owners: @devops-team, @repository-owner

Create dependabot.yml
  github/dependabot.yml
Owners: @repository-owner, @lead-developer

Create gpt-auto-fix.yml
  .github/workflows/gpt-auto-fix.yml
Owners: @devops-team, @repository-owner

Update route.ts
  app/api/aliexpress/product/[id]/route.ts
Owners: @backend-team, @integration-team

Update route.ts
  app/api/guardian/fix/route.ts
Owners: @backend-team, @security-team

fix: add missing UI and context files
  .github/workflows/gpt-auto-fix.yml
  components/ui/button.tsx
  components/ui/card.tsx
  context/cart-context.tsx
  package-lock.json
Owners: @devops-team, @repository-owner, @frontend-team, @ui-ux-team, @architecture-team, @lead-developer

Update gpt-auto-fix.yml
  .github/workflows/gpt-auto-fix.yml
Owners: @devops-team, @repository-owner
